body{

background:#050505;
color:#00ff9f;
font-family:monospace;

}

.card{

background:#111;
border:1px solid #00ff9f;

}

.btn{

border-radius:0;
}

table{

color:#00ff9f;

}

h1,h2,h3,h4{

color:#00ff9f;

}
